/*
 * Copyright 2014 Christian Hemp, Phytec Messtechnik GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6q-phytec-pfla02.dtsi"

/ {
	model = "Phytec phyBOARD ALCORE";
	compatible = "phytec,imx6q-pbab02", "phytec,imx6q-pfla02", "fsl,imx6q";

	chosen {
		stdout-path = &uart4;
	};
};

&can1 {
/*	gpio = <&gpio4 5 0>; CAN enable GPIO must fix */
	status = "okay";
};

&fec {
	status = "okay";
};

&i2c2 {
	rtc@68 {
		compatible = "mc,rv3029c2";
		reg = <0x68>;
	};
};

/* RS485 */
&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&usdhc3 {
	status = "okay";
};
